<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#"></a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse" [ngClass]="{'in' : isIn}">
    <ul class="nav navbar-nav">
      <li>
        <a href="#">Link</a>
      </li>
    </ul>

  </div>
  <!-- /.navbar-collapse -->
</nav>
<!-- End nav bar -->


<div class="details">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-lg-6 col-xs-12 col-md-6">
          <img src="{{product.ProductImage}}">
      </div>
      <div class="col-sm-12 col-lg-6 col-xs-12 col-md-6">
            <h3>{{product.available}}</h3>
            <h5>{{product.price | currency:"INR":true}}</h5>
            <h3>{{product.product}}</h3>
            <h3>{{product.ratings}}</h3>
            <p>
              <button type="button" class="btn btn-success" (click)="back()">Back</button>
            </p>
    </div>
    </div>
  </div>
</div>
<!-- Footer -->
<div class="wfooter">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <ul class="ft">
                    <li>
                        <h4>Know about us</h4>
                    </li>
                    <li>
                        About
                    </li>
                    <li>
                        Carrer
                    </li>
                    <li>
                        Privacy Policy
                    </li>
                    <li>
                        Press Release
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <ul class="ft">
                    <li>
                        <h4>Connect Whit us</h4>
                    </li>
                    <li>
                        Facebook
                    </li>
                    <li>
                        Instagram
                    </li>
                    <li>
                        Twitter
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <ul class="ft">
                    <li>
                        <h4>Download our app</h4>
                    </li>
                    <li>
                        <img src="../../assets/img/Google-App-store-icon.png" class="img-responsive">
                    </li>
                    <li>
                        <img src="../../assets/img/Apple-App-store-icon.png" class="img-responsive">
                    </li>
  
                </ul>
            </div>
            <hr ng-if="title" class="section-title-hr ng-scope">
        </div>
    </div>
    <div class="smft">
        &copy; 2018 Ritesh Desai Creations
    </div>
  </div>
  <!-- End Footer -->