nav.navbar{
    background-color: #232f3e;
}
nav.navbar ul.nav a{
    color: white;
}
iv.wfooter{
    padding-top: 10px;
    background-color: #232f3e;
    height: 200px;
    width: 100%;
}
div.wfooter ul.ft{
    list-style-type: none;
    color: white;
    padding-top: 20px;
}
ul.ft h4{
    font-weight: 400;
    font-family: 'Oswald',sans-serif;
    text-transform: uppercase;
}
div.wfooter div.smft{
    height: 40px;
    width: 100%;
    background-color: #131a22;
    color: white;
    font-family: 'Oswald',sans-serif;
    text-transform: uppercase;
    padding-top: 10px;
    font-size: 11px;
    text-align: center;
}
div.caption{
    background-color: #f2f0eb;
}
div.caption button{
    width: 170px;
}
div.wfooter{
    padding-top: 10px;
    background-color: #232f3e;
    height: 200px;
    width: 100%;
}
div.wfooter ul.ft{
    list-style-type: none;
    color: white;
    padding-top: 20px;
}
ul.ft h4{
    font-weight: 400;
    font-family: 'Oswald',sans-serif;
    text-transform: uppercase;
}
div.wfooter div.smft{
    height: 40px;
    width: 100%;
    background-color: #131a22;
    color: white;
    font-family: 'Oswald',sans-serif;
    text-transform: uppercase;
    padding-top: 10px;
    font-size: 11px;
    text-align: center;
}