<!-- nav bar -->
<nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" (click)="togglemenu()">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse" [ngClass]="{'in' : isIn}">
        <ul class="nav navbar-nav">
            <li>
                <a href="#">Link</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a routerLink="/home" (click)="togglemenu()">Home</a>
            </li>
            <li>
                <a routerLink="/electronic" (click)="togglemenu()">Electronic</a>
            </li>
            <li>
                <a routerLink="/clothes" (click)="togglemenu()">Veg-Food</a>
            </li>
            <li>
                <a routerLink="/food" (click)="togglemenu()">NonVeg-Food</a>
            </li>
            <li>
                <a routerLink="/shoping" (click)="togglemenu()">Fruits</a>
            </li>
            <li>
                    <a href="#" (click)="togglemenu()">Logout</a>
                </li>
        </ul>
    </div>
    <!-- /.navbar-collapse -->

    <!-- Slider -->
    <carousel>
        <slide>
            <img src="../../assets/img/HP_TVC_Bigsave_T1_1130x400_6thMar.jpg" 
            class="img-responsive" alt="First slide" style="display: block; width: 100%; height: 450px">
            <div class="carousel-caption d-none d-md-block">
            </div>
        </slide>
        <slide>
            <img src="../../assets/img/HP_T1_TVC_Referearn_1130x400-9thMar.jpg" 
            class="img-responsive" alt="Second slide" style="display: block; width: 100%; height: 450px">
            <div class="carousel-caption d-none d-md-block">
            </div>
        </slide>
        <slide>
            <img src="../../assets/img/HP_TVC_LowestPrice_1130X400-25thFeb.jpg" 
            class="img-responsive" alt="Third slide" style="display: block; width: 100%; height: 450px">
            <div class="carousel-caption d-none d-md-block">
            </div>
        </slide>
        <slide>
            <img src="../../assets/img/HP-Silk-1600x460-9march18.jpg" 
            class="img-responsive" alt="Third slide" style="display: block; width: 100%; height: 450px">
            <div class="carousel-caption d-none d-md-block">
            </div>
        </slide>
        <slide>
            <img src="../../assets/img/HP_Fish-Meat_1600X460-wo-10mar.jpg" 
            class="img-responsive" alt="Third slide" style="display: block; width: 100%; height: 450px">
            <div class="carousel-caption d-none d-md-block">
            </div>
        </slide>
        <slide>
            <img src="../../assets/img/HP_IceCream_1600X460-6thMar.jpg" 
            class="img-responsive" alt="Third slide" style="display: block; width: 100%; height: 450px">
            <div class="carousel-caption d-none d-md-block">
            </div>
        </slide>
    </carousel>
    <!-- End Slider -->
</nav>
<!-- End nav bar -->
<!-- Body -->
<!-- Category -->
<div class="main">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2>Categories
                    <span>Find everything you need in one go.</span>
                    <hr ng-if="title" class="section-title-hr ng-scope">
                </h2>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <img src="../../assets/img/HP-NLinear_HK_560X3785thMar.jpg" class="img-responsive">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <img src="../../assets/img/HP-Tiles_600to999Store_275X184-5thMar.jpg" style="padding-top:5px;" class="img-responsive">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <img src="../../assets/img/HP-Tiles_0to199Store_275X184-5thMar.jpg" style="padding-top:5px;" class="img-responsive">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <img src="../../assets/img/HP-Tiles_200to599Store_275X184-5thMar.jpg" style="padding-top:15px;" class="img-responsive">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <img src="../../assets/img/HPTiles_1000to1499Store_275X184-5thMar.jpg" style="padding-top:15px;" class="img-responsive">
            </div>
        </div>
    </div>
</div>
<!-- End Category. -->
<div class="brand">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <h3>Popular Brands
                    <hr ng-if="title" class="section-title-hr ng-scope">
                </h3>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
                <img src="../../assets/img/HP-DT_Brands_Amul_480x360_25thFeb.jpg" style="padding-top:5px;" class="img-responsive">
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
                <img src="../../assets/img/HP-DT_Brands_Ayush_480x360_25thFeb.jpg" style="padding-top:5px;" class="img-responsive">
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
                <img src="../../assets/img/HP-DT_Brands_Dove_480x360_25thFeb.jpg" style="padding-top:5px;" class="img-responsive">
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
                <img src="../../assets/img/HP-DT_Brands_Mamy_480x360_25thFeb.jpg" style="padding-top:5px;" class="img-responsive">
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
                <img src="../../assets/img/HP-DT_Brands_MuniteMaid_480x360_25thFeb.jpg" style="padding-top:5px;" class="img-responsive">
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
                <img src="../../assets/img/HP-DT_Brands_Patanjali_480x360_25thFeb.jpg" style="padding-top:5px;" class="img-responsive">
            </div>
        </div>
    </div>
</div>
<!-- Mid Body -->
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="imgbaner">
                <img src="../../assets/img/HP_Fish-Meat_1600X460-wo-10mar.jpg" width="100%" height="350px">
            </div>
        </div>
    </div>
</div>
<!-- End Mid Body -->
<!-- Lower Body -->
<div class="sponcer">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <h3>Sponcer
                    <hr ng-if="title" class="section-title-hr ng-scope">
                </h3>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <img src="../../assets/img/HP-Airtel-480x360-1stMar.jpg" class="img-responsive">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <img src="../../assets/img/HP-Freecharge-480x360-6thMar.jpg" class="img-responsive">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <img src="../../assets/img/HP-More-Offers-480x360-1stMar.jpg" class="img-responsive">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <img src="../../assets/img/HP-Paytm-480x360-6thMar.jpg" class="img-responsive">
            </div>
        </div>
    </div>
</div>
<!-- End lower Body -->
<!-- End Body -->
<!-- Footer -->
<div class="wfooter">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <ul class="ft">
                    <li>
                        <h4>Know about us</h4>
                    </li>
                    <li>
                        About
                    </li>
                    <li>
                        Carrer
                    </li>
                    <li>
                        Privacy Policy
                    </li>
                    <li>
                        Press Release
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <ul class="ft">
                    <li>
                        <h4>Connect Whit us</h4>
                    </li>
                    <li>
                        Facebook
                    </li>
                    <li>
                        Instagram
                    </li>
                    <li>
                        Twitter
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <ul class="ft">
                    <li>
                        <h4>Download our app</h4>
                    </li>
                    <li>
                        <img src="../../assets/img/Google-App-store-icon.png" class="img-responsive">
                    </li>
                    <li>
                        <img src="../../assets/img/Apple-App-store-icon.png" class="img-responsive">
                    </li>

                </ul>
            </div>
            <hr ng-if="title" class="section-title-hr ng-scope">
        </div>
    </div>
    <div class="smft">
        &copy; 2018 Ritesh Desai Creations
    </div>
</div>
<!-- End Footer -->