nav.navbar{
    background-color: #232f3e;
}
nav.navbar ul.nav a{
    color: white;
}
ul.nav a:hover{
    color: black !important;
    background-color: white;
}
div.product div#r{
    border: 2px solid red;
    height: 70px;
    width: 50px;
}
div.wfooter{
    padding-top: 10px;
    background-color: #232f3e;
    height: 200px;
    width: 100%;
}
div.wfooter ul.ft{
    list-style-type: none;
    color: white;
    padding-top: 20px;
}
ul.ft h4{
    font-weight: 400;
    font-family: 'Oswald',sans-serif;
    text-transform: uppercase;
}
div.wfooter div.smft{
    height: 40px;
    width: 100%;
    background-color: #131a22;
    color: white;
    font-family: 'Oswald',sans-serif;
    text-transform: uppercase;
    padding-top: 10px;
    font-size: 11px;
    text-align: center;
}
div.search{
    padding-bottom: 40px;
    height: 40px;
    font-size: 15px;
    font-size: 22px;
}  
div.search input{
    height: 40px;
    width: 270px;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 22px;
}
div.caption{
    background-color: #f2f0eb;
}
div.product{
    padding-top: 20px;
}