<!-- nav bar -->
<nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" (click)="togglemenu()">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"></a>
        </div>
      
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse" [ngClass]="{'in' : isIn}">
          <ul class="nav navbar-nav">
            <li>
              <a href="#">Link</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
              <li>
                  <a routerLink="/home" (click)="togglemenu()">Home</a>
              </li>
              <li>
                  <a routerLink="/electronic" (click)="togglemenu()">Electronic</a>
              </li>
              <li>
                  <a routerLink="/clothes" (click)="togglemenu()">Veg-Food</a>
              </li>
              <li>
                  <a routerLink="/food" (click)="togglemenu()">NonVeg-Food</a>
              </li>
              <li>
                <a routerLink="/shoping" (click)="togglemenu()">Fruits</a>
            </li>
              <li>
                      <a href="#" (click)="togglemenu()">Logout</a>
                  </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      
        <!-- Slider -->
        <carousel>
          <slide>
            <img src="../../assets/img/HP_TVC_Bigsave_T1_1130x400_6thMar.jpg" 
            class="img-responsive" alt="First slide" style="display: block; width: 100%; height: 450px">
            <div class="carousel-caption d-none d-md-block">
            </div>
          </slide>
          <slide>
            <img src="../../assets/img/HP_T1_TVC_Referearn_1130x400-9thMar.jpg" 
            class="img-responsive" alt="Second slide" style="display: block; width: 100%; height: 450px">
            <div class="carousel-caption d-none d-md-block">
            </div>
          </slide>
          <slide>
            <img src="../../assets/img/HP_TVC_LowestPrice_1130X400-25thFeb.jpg" 
            class="img-responsive" alt="Third slide" style="display: block; width: 100%; height: 450px">
            <div class="carousel-caption d-none d-md-block">
            </div>
          </slide>
          <slide>
            <img src="../../assets/img/HP-Silk-1600x460-9march18.jpg" 
            class="img-responsive" alt="Third slide" style="display: block; width: 100%; height: 450px">
            <div class="carousel-caption d-none d-md-block">
            </div>
          </slide>
          <slide>
            <img src="../../assets/img/HP_Fish-Meat_1600X460-wo-10mar.jpg" 
            class="img-responsive" alt="Third slide" style="display: block; width: 100%; height: 450px">
            <div class="carousel-caption d-none d-md-block">
            </div>
          </slide>
          <slide>
            <img src="../../assets/img/HP_IceCream_1600X460-6thMar.jpg" 
            class="img-responsive" alt="Third slide" style="display: block; width: 100%; height: 450px">
            <div class="carousel-caption d-none d-md-block">
            </div>
          </slide>
        </carousel>
        <!-- End Slider -->
      </nav>
      <!-- End nav bar -->
<!-- Table -->

<!-- 
<div class="product">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="thumbnail" *ngFor="let item of items | filter:search">
                    <img src="{{item.ProductImage}}" alt="...">
                    <div class="caption">
                        <a [routerLink]="['/product',item.productid]">
                            <h3>{{item.product}}</h3>
                        </a>
                        <h5>{{item.price | currency:"INR":true}}</h5>
                        <p>
                            <a [routerLink]="['/product',item.productid]" 
                            class="btn btn-success" role="button" style="width:120px">Buy</a>
                           
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="thumbnail" *ngFor="let fr of userfru | filter:search">
                    <img src="{{fr.ProductImage}}" alt="...">
                    <div class="caption">
                            <a [routerLink]="['/product1',fr.productid]"><h3>{{fr.product}}</h3></a>
                        <h5>{{fr.price | currency:"INR":true}}</h5>
                        <p>
                            <a [routerLink]="['/product1',fr.productid]" 
                            class="btn btn-success" role="button" style="width:120px">Buy</a>
                            
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="thumbnail" *ngFor="let iccs of icc | filter:search">
                    <img src="{{iccs.ProductImage}}" alt="...">
                    <div class="caption">
                            <a [routerLink]="['/product2',iccs.productid]"><h3>{{iccs.product}}</h3></a>
                        <h5>{{iccs.price | currency:"INR":true}}</h5>
                        <p>
                            <a [routerLink]="['/product2',iccs.productid]" 
                            class="btn btn-success" role="button" style="width:120px">Buy</a>
                            
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->


<div class="search">
    Search Product: 
    <input type="text" placeholder="search" name="search" [(ngModel)]='search'> {{search}}
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <ul class="col-lg-4 col-md-14 col-sm-12 col-xs-12" align="in-line" style="list-style-type: none;" *ngFor="let iccs of icc | filter:search">
                <li> <div class="thumbnail">
                     <img src="{{iccs.ProductImage}}" alt="..."> 
                    <div class="caption">
                            <a [routerLink]="['/product2',iccs.productid]"><h3>{{iccs.product}}</h3></a>
                        <h5>{{iccs.price | currency:"INR":true}}</h5>
                        <p>
                            <a [routerLink]="['/product2',iccs.productid]" 
                            class="btn btn-success" role="button" style="width:120px">Buy</a>
                            
                        </p>
                    </div>
                </div></li>
            </ul>
        </div>
    </div>
</div>
<!-- End Table -->

<!-- Footer -->
<div class="wfooter">
  <div class="container">
      <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              <ul class="ft">
                  <li>
                      <h4>Know about us</h4>
                  </li>
                  <li>
                      About
                  </li>
                  <li>
                      Carrer
                  </li>
                  <li>
                      Privacy Policy
                  </li>
                  <li>
                      Press Release
                  </li>
              </ul>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              <ul class="ft">
                  <li>
                      <h4>Connect Whit us</h4>
                  </li>
                  <li>
                      Facebook
                  </li>
                  <li>
                      Instagram
                  </li>
                  <li>
                      Twitter
                  </li>
              </ul>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              <ul class="ft">
                  <li>
                      <h4>Download our app</h4>
                  </li>
                  <li>
                      <img src="../../assets/img/Google-App-store-icon.png" class="img-responsive">
                  </li>
                  <li>
                      <img src="../../assets/img/Apple-App-store-icon.png" class="img-responsive">
                  </li>

              </ul>
          </div>
          <hr ng-if="title" class="section-title-hr ng-scope">
      </div>
  </div>
  <div class="smft">
      &copy; 2018 Ritesh Desai Creations
  </div>
</div>
<!-- End Footer -->