nav.navbar{
    background-color: #232f3e;
}
nav.navbar ul.nav a{
    color: white;
}
ul.nav a:hover{
    color: black !important;
    background-color: white;
}
div.main h2{
    text-align: center;
    color: #666;
    font-size: 44px;
    line-height: 48px;
    margin: 0 0 45px;
    font-weight: 400;
    font-family: 'Oswald',sans-serif;
    text-transform: uppercase;
    padding-top: 10px;
}
div.main span{
    font-size: 18px;
    font-family: 'Open Sans',sans-serif,Arial;
    text-transform: none;
    display: block;
    font-weight: 600;
    line-height: normal;
    margin-top: 5px;
}
div.main{
    padding-bottom: 20px;
}
div.brand h3{
    text-align: center;
    color: white;
    font-size: 24px;
    line-height: 48px;
    margin: 0 0 45px;
    font-weight: 400;
    font-family: 'Oswald',sans-serif;
    text-transform: uppercase;
    padding-top: 20px;
}
div.brand{
    background-color: #232f3e;
    padding-bottom: 20px;
}
div.band{
    padding-top: 10px;
    padding-bottom: 20px;
}
div.wfooter{
    padding-top: 10px;
    background-color: #232f3e;
    height: 200px;
    width: 100%;
}
div.wfooter ul.ft{
    list-style-type: none;
    color: white;
    padding-top: 20px;
}
ul.ft h4{
    font-weight: 400;
    font-family: 'Oswald',sans-serif;
    text-transform: uppercase;
}
div.wfooter div.smft{
    height: 40px;
    width: 100%;
    background-color: #131a22;
    color: white;
    font-family: 'Oswald',sans-serif;
    text-transform: uppercase;
    padding-top: 10px;
    font-size: 11px;
    text-align: center;
}