<!-- nav bar -->
<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" (click)="togglemenu()">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#"></a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse" [ngClass]="{'in' : isIn}">
    <ul class="nav navbar-nav">
      <li>
        <a href="#">Link</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a routerLink="/home" (click)="togglemenu()">Home</a>
      </li>
      <li>
        <a routerLink="/electronic" (click)="togglemenu()">Electronic</a>
      </li>
      <li>
        <a routerLink="/clothes" (click)="togglemenu()">Veg-Food</a>
      </li>
      <li>
        <a routerLink="/food" (click)="togglemenu()">NonVeg-Food</a>
      </li>
      <li>
        <a routerLink="/shoping" (click)="togglemenu()">Fruits</a>
    </li>
      <li>
        <a href="#" (click)="togglemenu()">Logout</a>
      </li>
    </ul>
  </div>
  <!-- /.navbar-collapse -->

  <!-- Slider -->
  <carousel>
    <slide>
      <img src="../../assets/img/csd-1200x300-29mar.jpg" class="img-responsive" alt="First slide"
        style="display: block; width: 100%; height: 450px">
      <div class="carousel-caption d-none d-md-block">
      </div>
    </slide>
    <slide>
      <img src="../../assets/img/Good-Diet-1200X300-22ndMarch.jpg" class="img-responsive"
        alt="Second slide" style="display: block; width: 100%; height: 450px">
      <div class="carousel-caption d-none d-md-block">
      </div>
    </slide>
    <slide>
      <img src="../../assets/img/Saffola-Active-Paid-1200X300-27Mar18.jpg" class="img-responsive"
        alt="Third slide" style="display: block; width: 100%; height: 450px">
      <div class="carousel-caption d-none d-md-block">
      </div>
    </slide>
    <slide>
      <img src="../../assets/img/SF-Natura-Paid-1200X300 -28Feb18.jpg" 
      class="img-responsive" alt="Third slide" style="display: block; width: 100%; height: 450px">
      <div class="carousel-caption d-none d-md-block">
      </div>
    </slide>
  </carousel>
  <!-- End Slider -->
</nav>
<!-- End nav bar -->
<!-- Body -->
<!-- Category -->
<div class="main">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h2>Home Entertainment
          <span>Find everything you need in one go.</span>
          <hr ng-if="title" class="section-title-hr ng-scope">
        </h2>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
        <img src="../../assets/electronic/HE_sel_smarttv.jpg" class="img-responsive">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <img src="../../assets/electronic/adityanr_2017-10-03T11-43_6f76df_1074022_firetvresizing_1340x536_2.jpg" style="padding-top:5px;"
          class="img-responsive">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <img src="../../assets/electronic/1100722_IN_Echo-Alexa_Content_Grid_1340x536.jpg" style="padding-top:5px;" class="img-responsive">
      </div>
    </div>
  </div>
</div>
<!-- End Category. -->
<div class="brand">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

        <h3>Amazing Offers
          <hr ng-if="title" class="section-title-hr ng-scope">
        </h3>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
        <img src="../../assets/electronic/SFM_clusterblocksW_arunj_17nov17_automotive.jpg" style="padding-top:5px;" class="img-responsive">
      </div>
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
        <img src="../../assets/electronic/SFM_clusterblocksW_arunj_17nov17_fashion.jpg" style="padding-top:5px;" class="img-responsive">
      </div>
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
        <img src="../../assets/electronic/SFM_clusterblocksW_arunj_17nov17_jewellery.jpg" style="padding-top:5px;" class="img-responsive">
      </div>
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
        <img src="../../assets/electronic/SFM_clusterblocksW_arunj_17nov17_mobileacc.jpg" style="padding-top:5px;" class="img-responsive">
      </div>
    </div>
  </div>
</div>
<!-- banner -->
<div class="band">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <img src="../../assets/electronic/XCM_1103315_Manual_1500x150_1500x150_1_jpg_Adapt_category_banners_1095535.jpg" width="100%">
      </div>
    </div>
  </div>
</div>
<!-- End banner -->
<!-- Footer -->
<div class="wfooter">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <ul class="ft">
                    <li>
                        <h4>Know about us</h4>
                    </li>
                    <li>
                        About
                    </li>
                    <li>
                        Carrer
                    </li>
                    <li>
                        Privacy Policy
                    </li>
                    <li>
                        Press Release
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <ul class="ft">
                    <li>
                        <h4>Connect Whit us</h4>
                    </li>
                    <li>
                        Facebook
                    </li>
                    <li>
                        Instagram
                    </li>
                    <li>
                        Twitter
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <ul class="ft">
                    <li>
                        <h4>Download our app</h4>
                    </li>
                    <li>
                        <img src="../../assets/img/Google-App-store-icon.png" class="img-responsive">
                    </li>
                    <li>
                        <img src="../../assets/img/Apple-App-store-icon.png" class="img-responsive">
                    </li>

                </ul>
            </div>
            <hr ng-if="title" class="section-title-hr ng-scope">
        </div>
    </div>
    <div class="smft">
        &copy; 2018 Ritesh Desai Creations
    </div>
</div>
<!-- End Footer -->